

/* BODY */
body {
    background-color: #C7FFF7;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* GLOBAL BOX-SIZING */
* {
    box-sizing: border-box; /* Includes padding and borders in element width */
}

/* HEADER */
header {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;
    width: calc(100% - 40px); /* Adjusts width to account for margins */
    padding: 20px;
    margin: 20px; /* Adds margin around the header */
    border: 1px solid #000;
    background: #F41CFF;
    color: #000;
    font-size: 2rem;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

/* PARENT CONTAINER */
#parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 100%;
    margin-top: 150px;

}


/* COLUMNS */

#cats, #dog, #text {   /* ALARM ALARM #DOG NOT DOGS */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1; /* Makes three equal columns */
    text-align: left;    
    height: 100vh;
    overflow:scroll;


}






/* IMAGES */ /*ALARM IMAGES FALSCH GETAGGED*/
.catimg, .dogimg {
    width: 100%; /* Ensures images are responsive */
    height: auto; /* Maintains aspect ratio */

    /*more styling, if you feel like it */
    border-radius: 30px;
    border: 2px solid rgb(255, 0, 247);
}


#intro, p {
    font-size: 1.5rem;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}



/* FOOTER */
footer {

    height: 30px;
    padding: 20px;
    color: #000;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* LINKS */
a {
    border: 1px solid #000;
    background: #F41CFF;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    background: #000;
    color: #FFF;
}








